<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, password
  </sql>

  <!-- 自己添加的mapper -->
  <select id="login" resultMap="BaseResultMap" parameterType="com.example.demo.entity.User" >
    select
    <include refid="Base_Column_List" />
    from user
    where user_name = #{userName,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
  </select>
  <select id="findUserByName" resultMap="BaseResultMap" parameterType="com.example.demo.entity.User" >
    select
    <include refid="Base_Column_List" />
    from user
    where user_name = #{userName,jdbcType=VARCHAR}
  </select>
  <select id="findAll" resultType="com.example.demo.entity.User">
    select * from cust_user
  </select>
  <!--驼峰规则说明：
Mybatis 功能1：可以实现结果集于实体对象的映射！！！
对象与表 一一对应，
对象中的属性与表中的字段 一一对应。

User(userId,userName)
user表(user_id,user_name)
resultType：不能映射。
resultMap：自己是手动编辑
简化上述操作：引入驼峰规则。

思考：开启驼峰规则如下，是否可以映射？
     User(user_id,user_name)
     user表(user_id,user_name)
     字段user_id~~userid~~userId
     setId()
 规则：如果开启了驼峰规则，必须按照要求编辑否则报错
-->
</mapper>